# Fichiers système à ignorer
desktop.ini

# Node.js (pour le frontend frontend)
node_modules/
dist/

# Python (pour le backend Python)
_pycache_/
*.pyc

# Base de données temporaire
*.sqlite
*.db

# Logs
*.log

#les logiciel de codage
.vscode
#vusual studio code
.venv
#pycharm