.carl {
    text-align: center;
}

body {
    background-color: rgb(224, 109, 15)
}

.header:hover {
    opacity: 0.7;
}

.header {
    background-color: cadetblue;
    padding-top: 20px;
    padding-bottom: 50px;
}
